* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

@font-face{
  font-family: 'Cabin Sketch', cursive;
  src: url('/fonts/CabinSketch-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(to bottom, #000000 0%, #a5b4b4 100%);
}

#logo-container {
  z-index: 997;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  display: block;
  position: absolute;
  max-width: 360px;
}

.button {
  z-index: 99;
  position: absolute;
  left: 50%;
}

.button img{
  z-index: 99;
  width: 0;
}

h1 {
  z-index: 98;
  position: absolute;
  top: 20%;
  left: 20%;
  width:80%;
  color: #fff;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  line-height: 200%;
  letter-spacing: 2px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  position: relative;
}

.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title:nth-child(1) {
  color: #e55643;
}

.title:nth-child(2) {
  color: #2b9f5e;
}

.title:nth-child(3) {
  color: #f1c83c;
}

.SErrorText {
  color: red;
  background-color: black;
  border: 2px solid #cacaca;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.jump span{
  position: relative;
  display: inline-block;
  transition: transform 0.1s;
  }

.jump span:hover {
  transform: translateY(-20px) scale(2) rotate(10deg);
  z-index: 1;
}

.pages {
  display: none;
  text-align: center;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 15%;
  padding: 5%;
  font-family: Cabin Sketch, cursive;
  font-size: 35px;
  color: white;
  text-shadow: 3px 3px 0 rgba(0,0,0,1);
  background: linear-gradient(to bottom, #435dd5 0%, #172347 100%);
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.66);
  -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.66);
  box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.66);
  border: 2px solid black;
  border-radius: 50px;
}

#slick-login {
  z-index: 100;
  width: 220px;
  height: 155px;
  position: absolute;
  left: 50%;
  top: 70%;
  margin-left: -110px;
  margin-top: -75px;
  -webkit-animation: login 1s ease-in-out;
  -moz-animation: login 1s ease-in-out;
  -ms-animation: login 1s ease-in-out;
  -o-animation: login 1s ease-in-out;
  animation: login 1s ease-in-out;
}

.placeholder {
  color: #444;
}

#slick-login input[type="text"] {
  width: 100%;
  height: 40px;
  positon: relative;
  margin-top: 7px;
  font-size: 14px;
  color: #444;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .49);

  padding-left: 20px;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;

  background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
  background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

  -webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
  box-shadow: inset 0px 2px 0px #d9d9d9;

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#slick-login input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
  box-shadow: inset 0px 2px 0px #a7a7a7;
}

#slick-login input:first-child {
  margin-top: 0px;
}

#slick-login input[type="submit"] {
  width: 100%;
  height: 50px;
  margin-top: 7px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px -1px 0px #5b6ddc;
  outline: none;
  border: 1px solid rgba(0, 0, 0, .49);

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 6px;

  background-color: #5466da;
  background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
  background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
  background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
  background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
  background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);

  -webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
  box-shadow: inset 0px 1px 0px #9ab1ec;

  cursor: pointer;

  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

#slick-login input[type="submit"]:hover {
  background-color: #5f73e9;
  background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
  background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
  background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
  background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
  background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

  -webkit-box-shadow: inset 0px 1px 0px #aab9f4;
  box-shadow: inset 0px 1px 0px #aab9f4;
  margin-top: 10px;
}

#slick-login input[type="submit"]:active {
  background-color: #7588e1;
  background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
  background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
  background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
  background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
  background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

  -webkit-box-shadow: inset 0px 1px 0px #93a9e9;
  box-shadow: inset 0px 1px 0px #93a9e9;
}