* {
  margin: 0;
  padding: 0;
}

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
html {
  height: 100%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  background: linear-gradient(to bottom, #405166 0%, #a5b4b4 100%);
}

#logo-container {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  display: block;
  position: absolute;
  max-width: 360px;
}

.button {
  position: absolute;
  left: 50%;
  background: url("/img/ball/ball.png") no-repeat;
  cursor: pointer;
}

.button img{
  width: 5%;
}

h1 {
  position: absolute;
  left: 20%;
  width:33%;
  color: #fff;
  text-transform: uppercase;
  font-size: 75px;
  margin: 0;
  line-height: 200%;
  letter-spacing: 2px;
}

.title {
  transform: translateX(-50%) rotate(-10deg);
  display: block;
  float: left;
  position: relative;
}
.title span {
  transform: skew(-10deg);
  display: block;
  float: left;
  text-shadow: #533d4a 1px 1px, #533d4a 2px 2px, #533d4a 3px 3px, #533d4a 4px 4px, #533d4a 5px 5px, #533d4a 6px 6px;
  min-width: 10px;
  min-height: 10px;
  position: relative;
}

.title:nth-child(1) {
  color: #e55643;
}
.title:nth-child(2) {
  color: #2b9f5e;
}
.title:nth-child(3) {
  color: #f1c83c;
}

.SErrorText {
  color: red;
  background-color: black;
  border: 2px solid #cacaca;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.jump span{
  position: relative;
  display: inline-block;
  transition: transform 0.1s;
  }
.jump span:hover {
  transform: translateY(-20px) scale(2) rotate(10deg);
  z-index: 1;
}

.pages {
  display: none;
  text-align: center;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 15%;
  padding: 5%;
  font-family: Cabin Sketch, cursive;
  font-size: 35px;
  color: white;
  text-shadow: 3px 3px 0 rgba(0,0,0,1);
  background-color: #3C5ABC;
  border: 2px solid black;
  border-radius: 50px;
}